@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch|Mouse+Memoirs);

.rainbow {
    color:purple;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(top left, purple, blueviolet, blue, green, yellow, orange, red);
}

body { background:white; }

.shadow {
    -webkit-text-shadow: 2px 2px 0 rgba(255,255,255,0.2);
    -moz-text-shadow: 2px 2px 0 rgba(255,255,255,0.2);
    text-shadow: 5px 5px 0 rgba(255,255,255,1);
}

h1 {
margin-top:10px;
    font-size: 200px;
    line-height: 200px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Mouse Memoirs", cursive;
    font-style: normal;
    letter-spacing: 3px;
}

.icon-giant-eye {
    font-size: 175px;
    letter-spacing:0px;
}

h2 {
    margin-bottom: 35px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "Cabin Sketch",cursive;
    font-weight: 400;
    font-style: normal;
    color:black;
}

.glowing {
    color:white;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 
    0 0 20px purple, 0 0 30px purple, 0 0 40px purple, 
    0 0 50px purple, 0 0 75px purple;
    letter-spacing: 3px;
}

body {
    font-size: 11.5pt;
}

.copy {
    font-weight:bold;
    display: inline-block;
    padding-bottom: 0.75em;
    border-radius: 8px;
    font-size: 200px;
    font-family: "Cabin Sketch",cursive;
}
