@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great|Cabin+Sketch|Open+Sans);

.rainbow {
    color: purple;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, purple, purple, blue, green, yellow, orange, red);
}

h1 {
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Fredericka the Great",cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin-bottom: 35px;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    font-family: "Cabin Sketch",cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 35px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrap {
    margin: 30px;
}

body {
    margin: 0 auto;
    font-family: "Open Sans",sans-serif;
    font-size:13px;
}


@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
}

@media only screen and (max-width : 1050px) and (min-width : 651px) { */
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) { */
}
